<!doctype html>
<html lang="en">
  <head>

    <title>Neflix Movie Search</title>
    <meta name="theme-color" content="#7952b3">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  </head>
  <body>
    
<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-3 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none fs-3">
      <span class="text-white py-1 px-2 bg-danger rounded me-1">Netflix</span> <span>Originals</span>
    </a>
  </header>

  <main>
      {% block content %}
      
{% endblock content %}

</main>
</div>


      
</body>
</html>
